.day {
  width: 200px;
  font-weight: bold;
  font-size: 1.4rem;
  color: #7e7979;
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-bottom: 10px;
  border: 5px solid transparent;

    &:hover {
      color: #eb1b57;
      cursor:pointer ;
    }
    
  }
  
  .hideDays {
    visibility: hidden;
  }
  .selectedDay {
  border: 4px solid #eb1b57;
  border-radius: 50%;
  color:#eb1b57; ;
}